<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
        <link rel="stylesheet" href="../../css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="../../js/main.js"></script>
    </head>
    <body>
        
<nav class="navbar navbar-default butterfly">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../../img/butterfly-bangla.png">
      </a>
    </div>
  </div>
</nav>

<container>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-12 title">
              <h2>Contacts</h3>
            </div>
        </div>
         
        <% if (contacts.length) { %>
            <% for (var i in contacts) { %>
        <dl class="accordion">
         <div class="contact-box">
            <dt class="list-names">
                <a href="#"><h4><%= contacts[i].first %> <%= contacts[i].last %></h4></a>
                <a href="#" class="contact-company"><%= contacts[i].business %></a>
            </dt>
          
            <dt class="expanded-info">
             <a class="contact-name" href="/contacts/<%= contacts[i].last %>"><i class="fa fa-pencil-square-o edit fa-lg"></i></a>
               <%= contacts[i].phone %></br>
               <%= contacts[i].email %></br>
               <%= contacts[i].address %></br>
               <%= contacts[i].city %><%= contacts[i].state%><%= contacts[i].zip%></br></br>
               <%= contacts[i].notes%>
            </dt>
            </div>
         </dl>
            <% } %>
       
        <% } else { %>
        <h4 class="msg">Your address book is currently empty</h4>
        <% } %>

        <button><a href="/contact/new">Add Contact</a></button>
    </div>
   </div>
  </container>
 </body>
</html>
