<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contacts</title>
        <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
        <link rel="stylesheet" href="../../css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script type="text/javascript" src="../../js/main.js"></script>
    </head>
    <body>
        
  <div class="container-fluid butterfly">
    <div class="logo">
      <a href="#">
        <img alt="Logo" src="../../img/butterfly-purple.png">
      </a>
    </div>
    <div class="fade-line"></div>
  </div>

<container>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-12 title">
              <h2><strong>Contacts</strong></h3>
            </div>
        </div>
         
        <% if (contacts.length) { %>
            <% for (var i in contacts) { %>
        <dl class="accordion">
         <div class="contact-box">
            <dt class="list-names">
                <a href="#"><h4><strong><%= contacts[i].first %> <%= contacts[i].last %></strong></h4></a>
                <a href="#" class="contact-company"><%= contacts[i].business %></a>
            </dt>
          
            <dt class="expanded-info">
             <a class="contact-name" href="/contacts/<%= contacts[i].last %>"><i class="fa fa-pencil-square-o edit fa-lg"></i></a>
              <p class="contact-content"><%= contacts[i].phone %></br>
               <%= contacts[i].email %></br>
               <%= contacts[i].address %></br>
               <%= contacts[i].city %> <%= contacts[i].state%> <%= contacts[i].zip%></br></br>
               <%= contacts[i].notes%></p>
            </dt>
            </div>
         </dl>
            <% } %>
       
        <% } else { %>
        <div id="empty">
        <h4 class="msg">Your address book is currently empty</h4>
        </div>
        <% } %>

        <button class="btn btn-default" id="add"><a href="/contact/new">Add Contact</a></button>
        
        <div id="about">
            <a href="#" id="about-link">About This Project <i class="fa fa-plus" id="maxify"></i><i class="fa fa-minus" id="minify"></i></a>
            <div id="about-content">Hi, I'm Scott Geier. I created this app as a server-side scripting assignment for the Advanced Interactive Multimedia class at the University of North Carolina at Chapel Hill. My goal was to use Node.js, Express.js and MongoDB to build a customer relationship management app for a fictitious business. I designed the logo with Illustrator.</div>
        </div>
    </div>
   </div>
   
  </container>
 </body>
</html>
