<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <script type="text/javascript" src="../../js/jquery-2.2.0.min.js"></script>
     <script type="text/javascript" src="../../js/main.js"></script>
    </head>
    <body>

  <div class="container-fluid butterfly">
    <div class="logo">
      <a href="#">
        <img alt="Logo" src="../../img/butterfly-purple.png">
      </a>
    </div>
    <div class="fade-line"></div>
  </div>

<container>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
  
    
        <form action="/contacts/<%= contact.last %>" id="contact-form" method="POST">
        
       <div class="col-xs-8 col-md-10"></div>
       <div class="col-xs-2 col-md-1">
        <button type="submit" class="btn btn-default" id="save"><i class="fa fa-floppy-o fa-lg"></i></button>
       </div>
       <div class="col-xs-2 col-md-1">
        <button type="button" class="btn btn-default" id="delete"><a href="/contacts/delete/<%= contact.last %>"><i class="fa fa-trash fa-lg"></i></a></button>
       </div>

         
        <div class="form-group">
         <label for="firstname">First</label>
         <input type="text" class="form-control" id="first" name="first" value="<%= contact.first %>">
        </div>
        
        <div class="form-group">
         <label for="lastname">Last</label>
         <input type="text" class="form-control" id="last" name="last" value="<%= contact.last %>">
        </div>
        
        <div class="form-group">
         <label for="business">Company</label>
         <input type="text" class="form-control" id="business" name="business" value="<%= contact.business %>">
        </div>
        
        <div class="form-group">
         <label for="phone">Phone</label>
         <input type="tel" class="form-control" id="phone" name="phone" value="<%= contact.phone %>">
        </div>
        
        <div class="form-group">
         <label for="email">Email</label>
         <input type="email" class="form-control" id="email" name="email" value="<%= contact.email %>">
        </div>
        
        <div class="form-group">
         <label for="address">Street Address</label>
         <input type="text" class="form-control" id="address" name="address" value="<%= contact.address %>">
        </div>
        
        <div class="form-group">
         <label for="city">City</label>
         <input type="text" class="form-control" id="city" name="city" value="<%= contact.city %>">
        </div>
        
        <div class="form-group">
         <label for="state">State</label>
         <input type="text" class="form-control" id="state" name="state" value="<%= contact.state %>">
        </div>
                
        <div class="form-group">
         <label for="zip">ZIP Code</label>
         <input type="number" class="form-control" id="zip" name="zip" value="<%= contact.zip %>">
        </div>
        
        <label for="notes">Notes</label>
        <textarea class="form-control" id="contact-form" name="notes" cols="40" rows="3"><%= contact.notes %></textarea>


       <div class="col-xs-8 col-md-10"></div>
       <div class="col-xs-2 col-md-1">
        <button type="submit" class="btn btn-default" id="save"><i class="fa fa-floppy-o fa-lg"></i></button>
       </div>
       <div class="col-xs-2 col-md-1">
        <button type="button" class="btn btn-default" id="delete"><a href="/contacts/delete/<%= contact.last %>"><i class="fa fa-trash fa-lg"></i></a></button>
       </div>

        </form>

        
       
        </div>
    </div>
</container>
    </body>
</html>
