<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" />
     <script type="text/javascript" src="../../js/jquery-2.2.0.min.js"></script>
     <script type="text/javascript" src="../../js/main.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default butterfly">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../../img/butterfly-bangla.png">
      </a>
    </div>
  </div>
</nav>

<container>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
         <h2 class="title">Edit Contact</h3>
        <h3><%= contact.first %> <%= contact.last %></h3>
        
        <form action="/contacts/<%= contact.last %>" id="contact-form" method="POST">
            <p>
            <label>First</label>
            <input type="text" id="first" name="first" value="<%= contact.first %>" />
            </p>
            
            <p>
            <label>Last</label>
            <input type="text" id="last" name="last" value="<%= contact.last %>" />
            </p>

            <p>
            <label>Business</label>
            <input type="text" id="business" name="business" value="<%= contact.business %>" />
            </p>

            <p>
            <label>Phone</label>
            <input type="text" id="phone" name="phone" value="<%= contact.phone %>" />
            </p>
            
            <p>
            <label>Email</label>
            <input type="text" id="email" name="email" value="<%= contact.email %>" />
            </p>
            
            <p>
            <label>Address</label>
            <input type="text" id="address" name="address" value="<%= contact.address %>" />
            </p>
            
              <p>
            <label>City</label>
            <input type="text" id="city" name="city" value="<%= contact.city %>" />
            </p>
              
            <p>
            <label>State</label>
            <input type="text" id="state" name="state" value="<%= contact.state %>" />
            </p>
            
            <p>
            <label>ZIP</label>
            <input type="text" id="zip" name="zip" value="<%= contact.zip %>" />
            </p>
            
            <label>Notes</label>
            <textarea form="contact-form" id="notes" name="notes" value="<%= contact.notes %>" /></textarea>
        

            <button>Update</button>
        </form>
        
        <p><a href="/contacts/delete/<%= contact.last %>">Delete</a></p>
        </div>
    </div>
</container>
    </body>
</html>
