<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="../../styles.css" />
    </head>
    <body>
        <h3><%= contact.first %> <%= contact.last %></h3>
        
        <form action="/contacts/<%= contact.last %>" method="POST">
            <p>
            <label>First</label>
            <input type="text" id="first" name="first" value="<%= contact.first %>" />
            </p>
            
            <p>
            <label>Last</label>
            <input type="text" id="last" name="last" value="<%= contact.last %>" />
            </p>

            <p>
            <label>Business</label>
            <input type="text" id="business" name="business" value="<%= contact.business %>" />
            </p>

            <p>
            <label>Phone</label>
            <input type="text" id="phone" name="phone" value="<%= contact.phone %>" />
            </p>
            
            <p>
            <label>Email</label>
            <input type="text" id="email" name="email" value="<%= contact.email %>" />
            </p>
            
            <p>
            <label>Address</label>
            <input type="text" id="address" name="address" value="<%= contact.address %>" />
            </p>
            
              <p>
            <label>City</label>
            <input type="text" id="city" name="city" value="<%= contact.city %>" />
            </p>
              
            <p>
            <label>State</label>
            <input type="text" id="state" name="state" value="<%= contact.state %>" />
            </p>
            
            <p>
            <label>ZIP</label>
            <input type="text" id="zip" name="zip" value="<%= contact.zip %>" />
            </p>
            
            <p>
            <label>Notes</label>
            <input type="text" id="notes" name="notes" value="<%= contact.notes %>" />
            </p>

            <button>Update</button>
            <p><a href="/contacts/delete/<%= contact.last %>">Delete</a></p>
        </form>
    </body>
</html>
